.expenses-filter {
    display: flex;
    flex-direction: column;
    .expenses-filter__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        select {
            padding: 0.5rem 1rem;
            font-size: 1.1rem;
            border-radius: 6px;
            outline: 1px solid #40005d;
        }
        label {
            color: white;
            font-weight: bold;
            font-family: inherit;
        }
    }
}